#calculator {
    border-radius: 10%;
    position: absolute;
    background-color: black;
    width: 325px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calculatorWindow {
    width: 90%;
    font-size: 48px;;
    min-height: 80px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    margin-top: 60px;
}

#calculatorKeys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    height: 55px;
    width: 55px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.utility {
    background-color:#D4D4D2;
    color: #1C1C1C;
}

.integer {
    background-color: #1C1C1C;
    color: #D4D4D2;
}

.operator {
    background-color: #FF9500;
    color: #D4D4D2;
}